img {
    transition: 0.5s;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 200px;
}

.header {
 
}
body {
    font-family: 'Roboto';
}

h1 {
    color: green;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.container > div {
    gap: 20px;
    display: flex;
    align-items: center;

    align-items: center;
    padding: 20px;
}

.container  {
  
    max-width: 1200px;
    margin: 0 auto;

}
.inf-icon {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 90px;
}

.inf-icon-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.nghe{
    margin-bottom: 20px;
}

svg path {
    fill: green;
}

svg{
    width: 25px;
    height: 25px;
    fill: green;
}

.inf-icon-block > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

 .content {
    background: #fff;
    padding-bottom: 14px;
} 

.title {
    margin-bottom: 15px;
    color: green;
    border-bottom: 5px solid;
    display: inline-block;
    padding-bottom: 10px;
}

.date-content {
    color: green;
}

.block-el {
    margin-left: 15px;
}
.block-el span{
    color: green;
}

.block-el h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.block-el p {
    margin: 0;
    margin-top: 5px;
}